export(copreg, density_joint , dpolicy_loss, dztp, z2theta ,loglik_joint ,mle_marginal,ppolicy_loss,pztp, rgam ,simulate_regression_data, ztp.glm ,
density_conditional, dgam ,D_u ,epolicy_loss,theta2z, mle_joint, pgam,predict.copreg ,qpolicy_loss, simulate_joint, vuongtest)
